<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<%= render partial: "common/header", locals: {current_menu:"recommend"}  %>
<div id="contents">
  <div id="contents_recommend">
    <div id="contents_recommend_search">
      <div id="contents_recommend_search_main">
        <div id="contents_recommend_search_main_words">
          <div class="row">
            <div class="input-field col s12">
              <input id="search" type="text" class="validate" autocomplete="off">
              <label for="search">Search</label>
              <i class="fas fa-search"></i>
            </div>
            <dd></dd>
          </div>
        </div>
        <div id="contents_recommend_search_main_ather">
          <p><b>詳細検索</b></p>
          <i class="fas fa-chevron-circle-down open" alt="open"></i>
          <i class="fas fa-chevron-circle-up close" alt="close"></i>
        </div>
      </div>
      <div id="contents_recommend_search_sub">
        <div id="contents_recommend_search_sub_label">
          <div class="row">
            <div class="input-field col s12">
              <input id="label" type="text" class="validate" autocomplete="off" list="labels">
              <b><span id="error_message"></span></b>
              <datalist id="labels">
                <% Label.all.each do |label| %>
                  <option value="<%=label.name%>" alt="<%=label.font_color%>,<%=label.background_color%>">
                <% end %>
              </datalist>
              <label for="label">ラベル追加</label>
            </div>
          </div>
        </div>
        <div id="contents_recommend_search_sub_add">
          <button class="uk-button uk-button-default">追加</button>
        </div>
        <div id="contents_recommend_search_sub_type">
          <div>
            <select required>
              <option value="0" selected>全て</option>
              <option value="1">Webサイトのみ</option>
              <option value="2">動画のみ</option>
            </select>
            <label>表示種類</label>
          </div>
        </div>
      </div>
    </div>
    <div id="contents_recommend_order">
      <p class="no-current" alt="block"><i class="fas fa-th"></i></p>
      <p class="current" alt="list"><i class="fas fa-th-list"></i></p>
      <p title="表示方法の変更が可能"><b>表示：</b></p>
    </div>
    <div id="contents_recommend_main">
      <div id="contents_recommend_main_list">
        <table class="uk-table uk-table-justify uk-table-divider">
          <thead>
              <tr>
                <th class="uk-width-small">タイトル</th>
                <th class="uk-width-small">サムネ</th>
                <th>概要</th>
                <th>表示</th>
              </tr>
          </thead>
          <tbody>
            <% @recommend.each do |recommend| %>
              <tr>
                <td><p><%=recommend.title%></p></td>
                <td><img src="<%=recommend.image_url%>"></td>
                <td>
                  <p class="description"><%=recommend.description%></p>
                  <% RecommendLabel.where(recommend_id:recommend.id).each do |recommend_label| %>
                    <span class="uk-label" style="color:<%=Label.find(recommend_label.label_id).font_color%>;background-color:<%=Label.find(recommend_label.label_id).background_color%>;">
                      <%=Label.find(recommend_label.label_id).name%>
                    </span>&nbsp;
                  <% end %>
                  <p>
                    おすすめ度:&nbsp;
                    <% recommend.click.times do |i| %>
                      <i class="fas fa-heart" style="color:#FFBEDA;"></i>
                    <% end %>
                  </p>
                </td>
                <td><a href="<%=recommend.site_url%>" target="_blank" class="uk-button uk-button-default">Open!</a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="contents_recommend_main_block">
        <ul>
          <li>
            <% @recommend.each_with_index do |recommend, index| %>
              <% if index%4 == 0 %>
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%=recommend.image_url%>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><b><%=recommend.title%></b></span>
                    <p><a href="<%=recommend.site_url%>" target="_blank">Open!</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%=recommend.title%></span>
                    <p><%=recommend.description%></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </li>
          <li>
            <% @recommend.each_with_index do |recommend, index| %>
              <% if index%4 == 1 %>
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%=recommend.image_url%>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><b><%=recommend.title%></b></span>
                    <p><a href="<%=recommend.site_url%>" target="_blank">Open!</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%=recommend.title%></span>
                    <p><%=recommend.description%></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </li>
          <li>
            <% @recommend.each_with_index do |recommend, index| %>
              <% if index%4 == 2 %>
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%=recommend.image_url%>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><b><%=recommend.title%></b></i></span>
                    <p><a href="<%=recommend.site_url%>" target="_blank">Open!</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%=recommend.title%></span>
                    <p><%=recommend.description%></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </li>
          <li>
            <% @recommend.each_with_index do |recommend, index| %>
              <% if index%4 == 3 %>
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%=recommend.image_url%>">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><b><%=recommend.title%></b></span>
                    <p><a href="<%=recommend.site_url%>" target="_blank">Open!</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%=recommend.title%></span>
                    <p><%=recommend.description%></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render partial: "common/footer" %>