<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<%= render partial: "common/header", locals: {current_menu:"recommend"}  %>
<div id="contents">
  <div id="contents_recommend">
    <div id="contents_recommend_search">
      <div id="contents_recommend_search_main">
        <div id="contents_recommend_search_main_words">
          <div class="row">
            <div class="input-field col s12">
              <input id="search" type="text" class="validate" autocomplete="off" >
              <label for="search">Search</label>
              <i class="fa fa-search" value="1"></i>
            </div>
            <dd></dd>
          </div>
        </div>
        <div id="contents_recommend_search_main_ather">
          <p><b>詳細検索</b></p>
          <i class="fas fa-chevron-circle-down open" alt="open"></i>
          <i class="fas fa-chevron-circle-up close" alt="close"></i>
        </div>
      </div>
      <div id="contents_recommend_search_sub">
        <div id="contents_recommend_search_sub_label">
          <div class="row">
            <div class="input-field col s12">
              <input id="label" type="text" class="validate" autocomplete="off" list="labels">
              <b><span id="error_message"></span></b>
              <datalist id="labels">
                <% Label.all.each do |label| %>
                  <option value="<%=label.name%>" alt="<%=label.font_color%>,<%=label.background_color%>">
                <% end %>
              </datalist>
              <label for="label">ラベル追加</label>
            </div>
          </div>
        </div>
        <div id="contents_recommend_search_sub_add">
          <span class="uk-button uk-button-default">追加</span>
        </div>
        <div id="contents_recommend_search_sub_type">
          <div>
            <select required>
              <option value="">全て</option>
              <option value="Webサイト">Webサイトのみ</option>
              <option value="動画">動画のみ</option>
            </select>
            <label>表示種類</label>
          </div>
        </div>
      </div>
    </div>
    <div id="contents_recommend_option">
      <div id="contents_recommend_option_order">
        <p class="no-current" alt="block"><i class="fas fa-th"></i></p>
        <p class="current" alt="list"><i class="fas fa-th-list"></i></p>
        <p title="表示方法の変更が可能"><b>表示：</b></p>
      </div>
      <div id="contents_recommend_option_pagenation">
        <%= render partial: "index_pagenation" %>
      </div>
    </div>
    <div id="contents_recommend_main">
      <%= render partial: "index_main" %>
    </div>
    <div id="contents_recommend_pagenation">
      <%= render partial: "index_pagenation" %>
    </div>
  </div>
</div>
<%= render partial: "common/footer" %>